@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

#root {
  display: flex;
  height: 100%;
  width: 100%;
}

html, body {
  height: 100%;
}

.guess-button-container {
  display: flex;
  width: 60%;
  height: 35%;
  flex-wrap: wrap
}

.slider-container {
  display: flex;
  width: 80%;
  justify-content: center
}
